pkgbase = optionmusic
	pkgdesc = Minimal black and white CLI music player powered by MPV
	pkgver = 0.2.13-stable
	pkgrel = 1
	url = https://github.com/fireflylabss/optionMusic
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	depends = mpv
	depends = gcc-libs
	depends = glibc
	optdepends = cava: optional spectrum bars
	options = !lto
	source = optionmusic-0.2.13-stable.tar.gz::https://github.com/fireflylabss/optionMusic/archive/refs/tags/v0.2.13-stable.tar.gz
	sha256sums = aaf0a1c66c437dc83062558c548a1e275464d8e31dfbbc034bb990c6cb3908f6

pkgname = optionmusic
